name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi


    - name: Run tests
      run: |
        pytest
      continue-on-error: true
    
    - name: Run forensic monitoring agent
      run: |
        python agent/monitor.py

    - name: Upload forensic logs
      uses: actions/upload-artifact@v4
      with:
        name: forensic-logs
        path: |
          forensic_log.jsonl
          forensic_metadata.json


